{
    "plugins": [
      "prettier-plugin-tailwindcss",
      "prettier-plugin-classnames",
      "prettier-plugin-merge"
    ],
    "tailwindAttributes": ["className", "classNames"],
    "tailwindFunctions": ["clsx", "cla", "cva"],
    "customAttributes": ["className", "classNames"],
    "customFunctions": ["clsx", "cla", "cva"],
    "endingPosition": "absolute",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "useTabs": false,
    "endOfLine": "lf"
}
