@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 224 20% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 72% 4%;

    --primary: 338 85% 57%;
    --primary-foreground: 210 5% 98%;

    --secondary: 220 4% 95%;
    --secondary-foreground: 220 10% 40%;

    --contrast: 222 6% 25%;
    --contrast-foreground: 210 20% 98%;

    --muted: 220 5% 97.5%;
    --muted-foreground: 220 9% 46%;

    --accent: 220 5% 93%;
    --accent-foreground: 221 15% 11%;

    --green: 115 85% 47%;
    --green-accent: 115 52% 50%;
    --green-fill: 115 85% 94%;
    --green-foreground: 115 65% 25%;

    --yellow: 50 100% 57%;
    --yellow-accent: 47 80% 45%;
    --yellow-fill: 44 95% 92%;
    --yellow-foreground: 32 65% 35%;

    --red: 0 95% 60%;
    --red-fill: 0 95% 94%;
    --red-foreground: 0 65% 43%;

    --blue: 210 90% 55%;
    --blue-fill: 210 100% 93%;
    --blue-muted: 210 94% 96%;
    --blue-foreground: 210 90% 40%;

    --purple: 268 85% 60%;
    --purple-fill: 268 80% 94%;
    --purple-foreground: 278 65% 45%;

    --border: 220 6% 91%;
    --border-dark: 220 6% 89%;
    --input: 220 13% 91%;
    --ring: 224 71% 4%;

    --radius: 0.5rem;
  }

  /*
  .dark {
    --background: 220 3% 10%;
    --foreground: 224 8% 99%;

    --popover: 0 0% 12%;
    --popover-foreground: 224 72% 90%;

    --primary: 338 85% 57%;
    --primary-foreground: 210 5% 92%;

    --secondary: 220 2% 14%;
    --secondary-foreground: 220 10% 85%;

    --contrast: 222 6% 95%;
    --contrast-foreground: 210 10% 5%;

    --muted: 220 3% 12%;
    --muted-foreground: 220 9% 60%;

    --accent: 220 5% 22%;
    --accent-foreground: 221 15% 85%;

    --green: 115 85% 47%;
    --green-accent: 115 52% 50%;
    --green-fill: 115 65% 20%;
    --green-foreground: 115 65% 80%;

    --yellow: 50 100% 57%;
    --yellow-accent: 47 80% 45%;
    --yellow-fill: 44 65% 26%;
    --yellow-foreground: 32 65% 80%;

    --red: 0 100% 65%;
    --red-fill: 0 70% 22%;
    --red-foreground: 0 100% 80%;

    --blue: 210 100% 56%;
    --blue-fill: 210 65% 20%;
    --blue-foreground: 210 65% 85%;

    --purple: 270 75% 55%;
    --purple-fill: 270 60% 25%;
    --purple-foreground: 270 65% 82%;

    --border: 220 6% 22%;
    --border-dark: 220 6% 18%;
    --input: 220 13% 24%;
    --ring: 224 71% 70%;
  }
*/
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground ring-gray-400;
  }
}

h1,
.text-h1 {
  @apply text-5xl font-semibold sm:text-7xl;
}

h2,
.text-h2 {
  @apply text-[2.5rem] font-semibold sm:text-6xl;
}

h3,
.text-h3 {
  @apply -my-[0.25rem] text-2xl font-semibold sm:-my-[0.1875rem] sm:text-3xl;
}

h4,
.text-h4 {
  @apply -my-[0.25rem] text-xl font-semibold sm:-my-[0.25rem] sm:text-2xl;
}

h5,
.text-h5 {
  @apply -my-[0.3125rem] text-lg font-semibold sm:-my-[0.25rem] sm:text-xl;
}

h6,
.text-h6 {
  @apply -my-[0.25rem] text-base font-semibold sm:-my-[0.3125rem] sm:text-lg;
}

body,
.text-body {
  @apply text-base leading-relaxed sm:text-lg;
}

html {
  @apply h-full;
  font-family: Inter;
}

body {
  @apply h-full font-normal;
}

#app {
  @apply h-full;
}

.css-glow-shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0.2rem 1rem 0.2rem;
}

.css-glow-inner {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0.5rem -0.25rem inset;
}

@layer story-component {
  .tiptap-custom h3 {
    @apply text-2xl font-semibold sm:-my-[0.1875rem] sm:text-3xl;
  }
  .tiptap-custom li {
    @apply list-inside list-disc pl-2;
  }
  .tiptap-custom li > p {
    @apply inline;
  }
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Variable.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-Italic-Variable.ttf') format('truetype-variations');
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: DMMono;
  src: url('/fonts/DMMono-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
