name: Stage - Build

on:
  workflow_call:
    inputs:
      run: { required: true, type: boolean }
      environment: { required: true, type: string }
      short_commit_tag: { required: true, type: string }
    secrets:
      DOCKER_USERNAME: { required: true }
      DOCKER_PASSWORD: { required: true }

jobs:
  build:
    if: ${{ inputs.run }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/setup-buildx-action@v3

      - name: Build and push image (with cache)
        uses: docker/build-push-action@v5
        with:
          context: ./api
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ vars.DOCKER_REPO }}:${{ inputs.short_commit_tag }}
          cache-from: |
            type=gha,scope=api
            type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache
          cache-to: |
            type=gha,scope=api,mode=max
            type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache,mode=max,compression=zstd
