name: Stage - Build

on:
  workflow_call:
    inputs:
      build_api:
        required: true
        type: boolean
      trace_tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ inputs.build_api }}
    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/setup-buildx-action@v3

      - name: Build and push image (with cache)
        uses: docker/build-push-action@v5
        with:
          context: ./api
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ vars.DOCKER_REPO }}:${{ inputs.trace_tag }}
          cache-from: |
            type=gha,scope=api
            type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache
          cache-to: |
            type=gha,scope=api,mode=max
            type=registry,ref=${{ vars.DOCKER_REPO }}:buildcache,mode=max,compression=zstd
